:root {
	--dr-c-white: #ffffff;
	--dr-c-white-soft: #f8f8f8;
	--dr-c-white-mute: #f2f2f2;

	--dr-c-black: #181818;
	--dr-c-black-soft: #222222;
	--dr-c-black-mute: #282828;

	--dr-c-blue: #00B1ED;	

	--dr-c-tomato-light: #f2656a;
	--dr-c-green-light: #64C073;

	--dr-c-grey: #5c6064;
	--dr-c-grey-dark: #666565;

	--dr-c-text-light: var(--dr-c-white);
	--dr-c-text-dark: var(--dr-c-black);
}

/* semantic color variables for this project */
:root {
	/* Backgorund */
	--color-background: var(--dr-c-black);
	--color-background-soft: var(--dr-c-black-soft);
	--color-background-mute: var(--dr-c-black-mute);

	/* Buttons */
	--color-button-neutral: var(--dr-c-blue);
	--color-button-neutral-hover: var(--dr-c-blue-light);

	--color-button-careful: var(--dr-c-tomato-light);
	--color-button-careful-hover: var(--dr-c-tomato-light);

	--color-button-home: var(--dr-c-grey-dark);
	--color-button-home-hover: var(--dr-c-white-soft);


	--color-button-safe: var(--dr-c-green-light);
	--color-button-safe-hover: var(--dr-c-green-light);

	--color-button-text: var(--dr-c-text-dark);

	/* Banner */
	--color-banner: var(--dr-c-grey);
	--color-banner-text: var(--dr-c-text-light);

	/* General */
	--border-radius: 6px;
	
	--gap: 12px;
	--small-gap: 8px;
	--big-gap: 36px;

	--padding-size: 12px;
	--padding-size-big: 36px;

	--color-separator: var(--dr-c-grey);
	--color-text: var(--dr-c-text-light);
	--color-text-dark: var(--dr-c-text-dark);
	--color-focus: var(--dr-c-blue);
}

/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

input,
textarea,
select {
	background: transparent;
	border: 0;
	outline: none;
	color: var(--color-text);
}

@font-face {
	font-family: HelveticaNeue;
	src: url('./fonts/Poppins-Regular.ttf');
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	line-height: 1.6;
	font-family: HelveticaNeue, sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
