@import './base.scss';


body {
  display: flex;
  place-items: center;
  align-items: stretch;
}

strong {
  font-weight: bold;
}

.section-title {
  font-size: 1.4rem;
}

#app {
  // max-width: 1280px;
  margin: 0;
  font-weight: normal;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // padding: 0 2rem;
}
